

/*<!-- Item's to HIDE during FULL WIDTH -->*/

.collapse ul {
    display: none;
}

.navbar-toggler {
    display: none;
}

.table-responsive-sm {
    display:none;
}
/*<!-- Item's to HIDE during FULL WIDTH -->*/



/*<!-- General Styling -->*/

body {
    background-color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    padding: 20px;
    color: teal;
    font-weight: bolder;
}

h2 {
    color: teal;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

p {
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.selected_box {
    border: 5px;
    border-style: double;
    color: teal;
}

.contents-box {
    background-color: white;
}

.justify-content-end {
    color: black;
    text-decoration-color: black;
}

.nav-link {
    color: black;
    text-decoration-color: black;

}

.dropdown {
    color: black;
    text-decoration-color: black;

}

.bg-light {

}

.navbar {
    padding: 0px;
    border-bottom: 2px solid teal;
    margin-bottom: 20px;
}
.navbar-brand {
    color: white    !important; 
    background-color: teal;
    color-adjust: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    font-weight: bolder;
}

/*<!-- Item's to SHOW/HIDE during LOW WIDTH -->*/

@media (max-width: 600px) {
    
    .justify-content-end {
        display: none;
        }

    .collapse ul {
        display: inline;
        color: white;
        }
        
    .navbar-toggler {
        display: inline;
        background-color: teal;
        }
    .table-responsive {
        display: none;
    }
    .table-responsive-sm {
        display: block;
    }

    .navbar, .bg-light, .navbar-light, .navbar-expand-lg {
        background-color: teal  !important;
        color: teal;
        margin-bottom: 20px;
        padding-left: 30px;
        
    }

    .nav-link {
        color: white    !important;
    }
}

